@model List<cw1_empty.Models.Movie>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista filmów</h1>
    <table>
        <tr>
            <th>Tytuł</th>
            <th>Reżyser</th>
            <th>Rok produkcji</th>
        </tr>
        @foreach(var movie in Model){
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Year</td>
            </tr>
        }
    </table>
</body>
</html>
