@page
@model cw4_forms.Pages.FormModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            margin: 10px;
        }
    </style>
</head>

<body>
    <h1>Form</h1>
    <form method="post">
        <input asp-for="MyPerson.FirstName" type="text" placeholder="podaj imię" /> <br />
        <input asp-for="MyPerson.LastName" type="text" placeholder="podaj nazwisko" /> <br />
        <input asp-for="MyPerson.Age" type="number" placeholder="podaj wiek" /> <br />
        <input type="submit" value="Wyślij" />
    </form>
    <hr>
    <h2>Wynik</h2>
    <div>

        Imię: @ViewData["firstname"] 
        Nazwisko: @ViewData["lastname"]
        Wiek: @ViewData["age"]
    </div>
</body>

</html>