@page
@model cw4_forms.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            margin: 10px;
        }
    </style>
</head>

<body>
    <h1>Index</h1>
    <div>
        <a asp-page="Form">Z modelem</a>
    </div>
     <div>
        <a asp-page="Nwd">NWD</a>
    </div>
    <form method="post">
        <input name="firstname" type="text" placeholder="podaj imię" /> <br />
        <input name="lastname" type="text" placeholder="podaj nazwisko" /> <br />
        <input name="age" type="number" placeholder="podaj wiek" /> <br />
        <input type="submit" value="Wyślij" />
    </form>
    <hr>
    <h2>Wynik</h2>
    
    <div>

        Imię: @ViewData["firstname"] 
        Nazwisko: @ViewData["lastname"]
        Wiek: @ViewData["age"]
    </div>
</body>

</html>