################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/5tip/desk_mobil/Proj_Songs/.vs/Proj_Songs/FileContentIndex/82f8f46b-4a9e-4275-97df-3cab61fa6146.vsidx
