.line {
  margin: 20px;
}
input[type='number'] {
  width: 100px;
}
button {
  width: 100px;
  height: 30px;
}
.result {
   margin: 10px;
  /*background-color: bisque;
  border: solid 1px black;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(191, 190, 187); */
}
table{
    border-collapse: collapse;
    margin:auto;
    text-align: center;
}
td{
    padding: 5px;
    border: solid 1px black;
}
