nav{
    background-color: brown;
    padding: 20px;
}
nav ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
li a{
    text-decoration: none;
    color: white;
}
