<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.css"/>
    <link href="~/StyleSheet.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
<header>
    <nav>
        <ul style="list-style-type: none" class="d-flex gap-2">
            <li>
                <a asp-action="Index" asp-controller="Noname">Strona główna</a>
            </li>
            <li>
                <a asp-controller="NoHome" asp-action="Index">Strona druga</a>
            </li>

        </ul>

    </nav>
</header>
<main class="container">
    @RenderBody()
</main>
</body>
</html>
