

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styl4.css">
    <title>Ogłoszenia</title>
</head>

<body>
    <header>
        <h2>Lista ogłoszeń</h2>
    </header>
    <main>
        <section id="left">
            
        </section>
        <section id="right">
            <div>
                <img src="~/ksiazki.jpg" alt="sprzedaj książkę">
            </div>

          
            <div>
                <a asp-action="List" asp-controller="Notices">Powrót do strony</a>
            </div>
           
            
        </section>
    </main>
    <footer>
        Portal ogłoszeniowy opracował: 00000000000

    </footer>
</body>

</html>
