<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styl4.css">
    <title>Dodaj Użytkownika</title>
</head>

<body>
    <header>
        <h2>Rejestracja użytkownika</h2>
    </header>
    <main>
        <section id="left">
            <h3>Wpisz swoje dane</h3>
        </section>
        <section id="right">
            <div>
                <img src="~/ksiazki.jpg" alt="sprzedaj książkę">
            </div>

            <a href="~/kwerendy.txt">kwerendy SQL</a>
            <h3>Kategorie</h3>
            <h3>Podkategorie</h3>
        </section>
    </main>
    <footer>
        Portal ogłoszeniowy opracował: 00000000000
    </footer>
</body>

</html>