@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styl4.css">
    <title>Dodaj Użytkownika</title>
</head>

<body>
    <header>
        <h2>Rejestracja użytkownika</h2>
    </header>
    <main>
        <section id="left">
            <h3>Wpisz swoje dane</h3>
            <form asp-action="List" method="post">
                <label asp-for="FirstName"></label><br>
                <input type="text" asp-for="FirstName" required><br>
                <label asp-for="LastName"></label><br>
                <input type="text" asp-for="LastName" required><br>
                <label asp-for="Phone"></label><br>
                <input type="tel" asp-for="Phone" required><br>
                <label asp-for="Email"></label><br>
                <input type="email" asp-for="Email" required><br>
                <input type="reset" value="Czyść">
                <input type="submit" value="Wyślij">
            </form>
        </section>
        <section id="right">
            <div>
                <img src="~/ksiazki.jpg" alt="sprzedaj książkę">
            </div>

            <a href="~/kwerendy.txt">kwerendy SQL</a>
            <h3>Kategorie</h3>
            <ul>
                @foreach (var category in ViewBag.Categories)
                {
                    <li>@category.Name</li>
                }   
            </ul>
            <h3>Podkategorie</h3>
            <ul>
                @foreach (var subcategory in ViewBag.Subcategories)
                {
                    <li>@subcategory.Name</li>
                }
            </ul>
        </section>
    </main>
    <footer>
        Portal ogłoszeniowy opracował: 00000000000
    </footer>
</body>

</html>