@model string

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>strona Index</h1>
    <h3>@Model</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, assumenda ex quis temporibus necessitatibus cupiditate tenetur similique eveniet modi dolorem quibusdam repellendus culpa? Incidunt placeat similique, aperiam ex eveniet amet.</p>
</body>
</html>