
    <h1>Przykładowy nagłówek</h1>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/CarsRental/CarRent">Wypożyczenie samochodu</a></li>
            <li><a href="/CarsRental/CarReturn">Zwrócenie samochodu</a></li>
            <li><a href="/CarsRental/CarList">Lista samochodów</a></li>
        </ul>
    </nav>
